body {
    background-image: url(../images/background/background_jungle.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    font-family: 'VT323', monospace;
}
.instuctions{
    background-color: rgba(240, 248, 255, 0.733);
    border-radius: 5%;
    padding : 1em;
    margin-bottom: 6em;
    text-align: center;
    width: 35em;
 
}
.imgContainer{
    height: 10em;
    width: 10em;
}
.health{
    height: 1.5em;
    text-emphasis-position: fixed;
}

.imgContainer img{
    width: 100%;
    height: 100%;
}

.healthContainer{
    background-color: red;
    border-radius: 5%;
}
.health{
    background-color: greenyellow;
    width: 80%;
    border-radius: 5%;
}



.topLayer{
    min-height: 25em;
    
}
.topLayerTwo{
    min-height: 30em;
}
.controls{
    min-height: 10em;
   
}
.title{
    
    min-height: 3em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.794);
    border-radius: 2%;
    text-align: center;

}
.bio{
    text-align: left;
    background-color: rgba(240, 248, 255, 0.733);
    border-radius: 5%;
    padding : 1em;
}
.hide{
    display: none;
}